// To fix Sign Out Button padding
.navbar-default .btn-link {
  padding: 0;
}
// Make cursor a pointer rather than a text cursor
a {
  cursor: pointer;
}
// Align dropdown menus so that right-most side of modal is flush with text
.sign-up-dropdown {
  left: -190px;
}
.sign-in-dropdown {
  left: -190px;
}
.change-password-dropdown {
  left: -120px;
}
// Make form centered with larger min width for inputs
.form-control {
  min-width: 220px;
}
// Pull price span to overlay on top right of image
.price-container {
  top: 0;
  right: 0;
}
// Add margin to container so that there is room between images and footer
.container-page {
  margin-bottom: 100px;
}
// Remove margin so that footer text is centered inside footer div
.footer-text {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}
// Remove margin to span full page
#content {
  mergin: 0;
}

.media {
  margin: 2px 2px 2px 2px;
  // border-top: 2px solid #000;
  // border-bottom: 2px solid #000;
}

.row-0 {
  .make-row();
  .col-0-0 {
    .make-sm-column(10);
  }
  .col-0-1 {
    .make-sm-column-offset(1);
    .make-sm-column(1);
  }
border: 2px solid #000;
padding-top: 2px;
margin-bottom: 50px;
}

.media-object {
	height: 70px;
}

.cart-contents {
  margin-right: 40px;
  margin-left: 20px;
}
