<h1>Checkout</h1>
<hr>
<div id='messages'>
  Not a message.
</div>
<hr>

  <div class="col-sm-3">
    <table class="table">
      <thead>
        <tr>
          <th colspan="3" class="text-center">Order sumary</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sub total:</td>
          <td id="sub-total"></td>
          <td class="text-right"><b></b></td>
        </tr>
        <tr>
          <td>Shipping:</td>
          <td id="shipping"></td>
          <td class="text-right"></td>
        </tr>
        <tr>
          <td>Tax:</td>
          <td id="tax"></td>
          <td class="text-right"></td>
        </tr>
        <tr>
          <td>Total:</td>
          <td id="total"></td>
          <td class="text-right"></td>
        </tr>
      </tbody>
    </table>

    <a id="proceed-button" class="btn btn-right">Proceed</a>
  </div>
</div>
