
<div class="container-fluid productlist">

  <div id='messages'>

  </div>


  {{#each this}}
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 product-image" data-productid="{{_id}}">
    <a>
      <img class="img-responsive" src="{{image_url}}">
        <span class="productlist-price-container">
          <span class="product-price product-title">
            <span>{{title}}</span>
          </span>
        </span>

        <span class="productlist-price-container price-container">
          <span class="product-price">
            <span class="price">{{price}}</span>
          </span>
        </span>
    </a>
    </div>
  {{/each}}
</div>
